<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Item Catalog</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<link rel=stylesheet type=text/css href="../static/styles.css">
</head>

<body>
<section class="middle" id="middle-area">
<h1 class="middle" id="middle-header">Add New Item</h1>
  <form id="edit-form" method="post" action="{{ url_for('newItem', category_name=category.name, category_id=category.id) }}">
    <input type="text" id="name" name="name" placeholder="Item Name">
    <textarea type="text" id="description" name="description" placeholder="Description"></textarea>
    <input type="submit" id="submit" value="Submit">
  </form>
</section>
<section class="side" id="side-area">
  <h1><a href="{{ url_for('catalogMain') }}" class="item-catalog"><em>Item Catalog</em></a></h1>
  <h3 class="side" id="category-header">Categories</h3>
  <ul class="side" id="categories">
    {% for c in categories %}
      <li> <a href="{{ url_for('categoryItems', category_name=c.name) }}"> {{ c.name }} </a></li>
    {% endfor %}
  </ul>
  	<a href="{{ url_for('newCategory') }}" class="side" id="new-category">New Category</a>
    <a href="{{ url_for('gdisconnect') }}" class="side" id="login">Logout</a>
</section>
</body>
</html>